datos.dat 

mein
pru
.ipynb_checkpoints/

moises.pdf
moises.bbl
moises.blg
moises.tgz

nomarmt.bbl
nomarmt.blg
*.out 
Tesis/Tesis_Nephtali.pdf

*bbl 
*.blg 
nomarmt.pdf
platica_DICU.pdf

*/tmp*
Batch1/tmp.ou
Batch1/tmp2.ou
a1a2
calculo_de_las_integrales.pdf
question_marko.pdf
strong5.pdf
transition.pdf
*.swp
**/*.aux
**/*.toc
**/*.nav
**/*.snm
**/*.out
**/*.log
**/*.swp
Bitacora_nephtali/bitacora.pdf
Lambda
Lambda_simple
Lambda_openmp
*aux
*log
*synctex.gz
**/*synctex.gz
notes.pdf
*.dat
*.txt

